name: Basic Gradle Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  just-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: "temurin"
      - name: Build
        run: ./gradlew --no-daemon build
